* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: #264653;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-image: url('./search-icon.png');
  background-size: 35px;
  font-size: larger;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 10%;
  padding: 10px 40px 10px 10px;
  transition: all .2s linear;
  cursor: pointer;
  box-shadow: 0 5px #666;
}

.input-active {
  width: 100%;
  background-position: 120%;
  outline: none;
  box-shadow: 0 5px #666;
  cursor: auto;
}

button { 
  width: 0%;
  padding: 0;
  border: 0;
  margin-left: 0;
  background-image: url('./search-icon.png');
  background-color: white;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: -100px;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  position: static;
  z-index: -1;
  margin-left: 1%;
  transition: all .2s linear;
  cursor: pointer;
  box-shadow: 0 5px #666;
}

.button-active {
  background-position: 50%;
  margin-left: 1%;
  width: 14%;
  left: 0px;
  z-index: 0;
  padding: 10px;
}

button:active, input:active {
  transform: translateY(4px);
  box-shadow: 0 0px #666;
}

#close-icon {
  cursor: pointer;
  background-color: red;
}

.form-group {
  display: flex;
}

.input-icon {
  position: relative;
  left: 85%;
}

.card {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px #666;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 50px;
}

.card-body {
  font-size: 16px;
  padding: 40px;
}

.search-form {
  margin-top: 100px;
  margin-bottom: 100px;
}

#card-container {
  margin-bottom: 100px;
  margin-bottom: 100px;
}

#content {
  padding-left: 10px;
  padding-right: 10px;
}